<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSBA Test App</title>
</head>
<body>
    <h1>Tests of <a href="https://github.com/Azure/open-service-broker-azure">Open Service Broker™ for Azure</a></h1>
    <h2>Supported Services</h2>
    <ul>
        <li><a href="/mysql-test">Azure Database for MySQL</a></li>
        <li><a href="/postgres-test">Azure Database for PostgresSQL</a></li>
        <li><a href="/sql-test">Azure SQL Database</a></li>
    </ul>
</body>
</html>
